@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

* { padding:0; margin:0; }
#test { height:100%; width:100%; }

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; 
}

img {
    border-radius: 5px 5px 0 0;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
}



.hire {
	background-color:#FC4F75;
}

.hire:hover {
	opacity:0.8;
}

.hire-me-container-small {
	width:140px;
	padding-top:15px;
	overflow:hidden;
	margin-left:auto;
	margin-right:auto;
}

.hire-me-container-small a {
	text-decoration:none;
	color:#FFF;
	float:right;
	font-size:13px;
	border-radius:50px;
	letter-spacing:0.04em;
	padding-top:14px;
	padding-bottom:14px;
	display:block;
	width:140px;
	text-align:center;
}

#list {
	width:100%;
	margin-left:auto;
	margin-right:auto;
}

.item {
	width:100%;
	margin-bottom:30px;
	overflow:hidden;
}

.video {
	width:100%;
	min-height:366px;
	margin-left:auto;
	margin-right:auto;
	background-color:#101010;
}

.introduction {
	overflow:hidden;
	width:500px;
	margin-top:40px;
	margin-bottom:20px;
	margin-left:auto;
	margin-right:auto;
}

.profile-picture {
	width:100px;
	height:100px;
	float:left;
}

h1 {
	padding-top:0px;
	margin-top:0px;
	width:100%;
	text-align:center;
}

.profile-picture img {
	width:80px;
	height:80px;
	margin-left:10px;
	margin-top:4px;
	border-radius:50px;
}

.introduction-text {
	width:100%;
	text-align:center;
	letter-spacing:0.01em;
	line-height:2.2em;
	font-size:16px;
	font-weight:500;
	padding-bottom:20px;
}

.text-block {
	width:100%;
	letter-spacing:0.01em;
	line-height:2.2em;
	font-size:15px;
	padding-bottom:20px;
}


.introduction-image {
	width:100%;
	height:auto;
}

.introduction-image img {
	width:100%;
	height:auto;
}


a {
	color:#000;
	font-weight:600;
}

.screens-container {
	width:650px;
	margin-left:auto;
	margin-right:auto;
	overflow:hidden;
}

.screen {
	width:325px;
	float:left;
	height:540px;
	padding-bottom:15px;
	padding-top:15px;
	text-align:center;
}

.screen-image {
	margin-left:auto;
	margin-right:auto;
	border-radius:4px;
	display:block;
}

.screen-image img {
	width:100%;
	height:auto;
	border-radius:4px;
	display:block;
}

.screen-image video {
	width:300px;
	border-radius:4px;
	display:block;
	padding:0px;
	margin:0px;
}

.screen-title {
	text-align:center;
	width:100%;
	font-weight:600;
	margin-top:25px;
	display:none;
}

.screen-description {
	text-align:left;
	width:calc(100% - 24px);
	display:none;
	padding-left:14px;
	padding-right:14px;
	min-height:120px;
	text-align:center;
	color:#777;
	font-size:13px;
	line-height:1.65em;
	margin-top:8px;
}

.heading {
	width:630px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	font-weight:800;
	font-size:25px;
	letter-spacing:0.06em;
	padding-bottom:20px;
	margin-bottom:15px;
}

.like-what-you-see {
	width:100%;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	font-weight:800;
	font-size:26px;
	letter-spacing:0.06em;
	padding-bottom:10px;
}

.twitter {
	margin-right:14px;
	background-color:#607D8B;
}

.twitter:hover {
	background-color:#455A64;
}

.hire {
	background-color:#FC4F75;
}

.hire:hover {
	opacity:0.8;
}

.hire-me-container-small {
	width:140px;
	padding-top:15px;
	overflow:hidden;
	margin-left:auto;
	margin-right:auto;
}

.hire-me-container-small a {
	text-decoration:none;
	color:#FFF;
	float:right;
	font-size:13px;
	border-radius:50px;
	letter-spacing:0.04em;
	padding-top:14px;
	padding-bottom:14px;
	display:block;
	width:140px;
	text-align:center;
}


.screen-full {
	display:block;
	padding-bottom:70px;
	width:100%;
	margin-left:20px;
	margin-right:20px;
}

.screen-full img {
	width:100%;
	height:auto;
	transition:0.2s;
	border-radius:6px;
}

.screen-wide {
	display:block;
	padding-bottom:15px;
	width:calc(66.666% - 40px);
	float:left;
	margin-left:20px;
	border-radius:4px;
	height:540px;
	padding-top:15px;
	margin-right:20px;
}

.screen-wide img {
	width:100%;
	height:522px;
	border-radius:4px;
}

.screen-image-wide {
	transition:0.2s;
	height:522px;
	border-radius:4px;
	box-shadow:0px 4px 30px rgba(0,0,0,0.2);
}

.screen-image-wide:hover {

}


.screen-hide-mobile {
	display:none;
}

#icons {
	background: linear-gradient(135deg, #c644fc, #5856d6);
}

@media screen and (max-width: 650px) {
	#title {
		font-size:35px;
	}
	#subtitle {
		font-size:17px;
	}
	#header {
		height:180px;
	}
	#list {

	}
	.video {
		margin-left:10px;
		margin-right:10px;
		width:calc(100% - 20px);
		min-height:160px;
	}
	.introduction {
		margin-left:30px;
		margin-right:30px;
		width:calc(100% - 60px);
	}
	.profile-picture {
		width:100%;
		text-align:center;
	}
	.introduction-text {
		width:100%;
		margin-left:0px;
		float:none;
	}
	.text-block {
		width:100%;
		margin-left:0px;
		float:none;
	}
	.heading {
		width:100%;
		display:none;
	}

	.icons-container,.screens-container {
		width:100%;
	}
	.icon {
		width:50%;
	}
	.screen {
		width:calc(100% - 60px);
		text-align:center;
		padding:30px;
		height:auto;
	}
	.screen-image img {
		transition:0.2s;
		margin:auto;
		height:auto;
	}
	.screen-description {
		padding-left:30px;
		padding-right:30px;
		width:calc(100% - 60px);
		min-height:0px;
	}
	.like-what-you-see {
		font-size:20px;
	}
	.need-design {
		font-size:14px;
	}
}

@media screen and (min-width: 650px) {
	.screen {
		width:33.3333%;
	}

	.screen-full {
		display:inline-block;
		width:calc(100% - 40px);
		margin-left:20px;
		transition:0.2s;
		margin-right:20px;
		overflow:none;
		float:left;
		border-radius:16px;
		height:378px;
		margin-bottom:60px;
		position:relative;

	}

	.screen-hide-mobile {
		display:block;
	}

	.screen-full:hover {

	}

	.screen-full video {
		border-radius:10px;
	}

	.screen-full img {
		width:100%;
		height:auto;
		border-radius:10px;
		position:absolute;
		top:0px;
		left:0px;
	}

	.screen-full img:hover {

	}

	.screens-container {
		width:1000px;
	}
	.screen:last-child {
		/*display:none;*/
	}
	.screen-image {
		transition:0.2s;
		width:calc(100% - 40px);
		box-shadow:0px 8px 20px rgba(0,0,0,0.2);
	}
	.screen-image:hover {

	}
}

.gradient-button {
    margin: 10px;
	font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: regular;
    font-style: regular;
    padding: 8px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: #FFF;
    box-shadow: 0 0 10px #eee;
    border-radius: 10px;
    width: 140px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
    display: inline-block;
    border-radius: 25px;
}
.gradient-button:hover{
    box-shadow: 0 5px 5px rgba(0,0,0,0.19), 0 2px 2px rgba(0,0,0,0.23);
    margin: 8px 10px 12px;
}
.gradient-button-1 {background-image: linear-gradient(to right, #DD5E89 0%, #F7BB97 51%, #DD5E89 100%)}
.gradient-button-1:hover { background-position: right center; }

.gradient-button-2 {background-image: linear-gradient(to right, #2BC0E4 0%, #EAECC6 51%, #2BC0E4 100%)}
.gradient-button-2:hover { background-position: right center; }

.gradient-button-3 {background-image: linear-gradient(to right, #7474BF 0%, #348AC7 51%, #7474BF 100%)}
.gradient-button-3:hover { background-position: right center; }

.gradient-button-4 {background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5 51%, #00d2ff 100%)}
.gradient-button-4:hover { background-position: right center; }

.gradient-button-5 {background-image: linear-gradient(to right, #5cf99d 0%, #05b24d 30%, #3bf75b 100%)}
.gradient-button-5:hover { background-position: right center; }

.gradient-button-6 {background-image: linear-gradient(to right, #565656 0%, #191919	 51%, #565656 100%)}
.gradient-button-6:hover { background-position: right center; }

.gradient-button-gplus {background-image: linear-gradient(to right, #f72e5a 0%, #ff0000	 51%, #f72e5a 100%)}
.gradient-button-gplus:hover { background-position: right center; }

.gradient-button-insta {background-image: linear-gradient(to right, #f704aa 0%, #f70448	 51%, #f704aa 100%)}
.gradient-button-insta:hover { background-position: right center; }

.gradient-button-twit {background-image: linear-gradient(to right, #37ecfc 0%, #02adfc	 51%, #37ecfc 100%)}
.gradient-button-twit:hover { background-position: right center; }

.gradient-button-link {background-image: linear-gradient(to right, #04b2f7 0%, #045df7	 51%, #04b2f7 100%)}
.gradient-button-link:hover { background-position: right center; }

/*Arrow*/
.downArrow{
	position: relative;
}
.bounce {
	-moz-animation: bounce 3s infinite;
	-webkit-animation: bounce 3s infinite;
	animation: bounce 3s infinite;
}
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
/* Demo Purpose Only*/
.demo {
  font-family: 'Raleway', sans-serif;
	color:#fff;
    display: block;
    margin: 0 auto;
    padding: 15px 0;
    text-align: center;
}
.demo a{
  font-family: 'Raleway', sans-serif;
color: #2ecc71;		
}
